:root {
    --cor-fonte-texto-h1: #909090;
    --cor-fonte-texto-informativo: #707070;
    --tamanho-espacamento-fonte-titulo: 6rem;
    --tamanho-espacamento-fonte-texto-informativo: normal;
    --cor-de-fundo-menu: #1f1f1f;
    --cor-fundo-canvas: #d0d0d0;
    --cor-fundo-botao: #ee2020;
    --cor-fundo-botao-hover: #aa0000;
    --fontes-do-site: 'Roboto', sans-serif;
    --cor-fonte-botao-iniciar: #f0f0f0;
}

body {
    background-color: #3f3f3f;
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;    
}

.menu {
    width: 100%;
    background-color: var(--cor-de-fundo-menu);
    padding-bottom: 2rem;
    cursor: default;
}

.cabecalho {
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 0 auto 2.5rem auto;
    font-family: var(--fontes-do-site);
}

.cabecalho section > h1 {
    color: var(--cor-fonte-texto-h1);
    font-size: 3.5rem;
    font-weight: bold;
    line-height: var(--tamanho-espacamento-fonte-titulo);
    text-shadow: 1px;
    text-align: center;
}

.cabecalho section > p {
    color: var(--cor-fonte-texto-informativo);
    font-size: 2rem;
    line-height: var(--tamanho-espacamento-fonte-texto-informativo);
    text-align: left;
}

body main {
    width: 100%;
    display: flex;
}

canvas {
    border: solid 1px;
    background-color: var(--cor-fundo-canvas);
    height: 60vh;
    width: 75vw;
    margin: auto auto 2.5rem auto;
    justify-content: center;
    border-radius: 8px;
}

body > section {
    width: 100%;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.botao-inicia {
    background-color: var(--cor-fundo-botao);
    
    border-radius: 8px;
    border: 1px var(--cor-fundo-botao);
    
    text-decoration: none;
    text-align: center;
    font-family: var(--fontes-do-site);
    font-size: 1.8rem;
    color: var(--cor-fonte-botao-iniciar);
    
    cursor: pointer;
    margin: 0 auto 0 auto;
    padding: 1.5rem 5rem;
}

.botao-inicia:hover {
    background-color: var(--cor-fundo-botao-hover);
    border-color: var(--cor-fundo-botao-hover);
}

/* .rodape {
    width: 100%;
    background-color: var(--cor-de-fundo-menu);
} */
